<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>628658220380-6g04i9krubqngi6pebova72tgnsljjoj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.628658220380-6g04i9krubqngi6pebova72tgnsljjoj</string>
	<key>API_KEY</key>
	<string>AIzaSyAZVHc0b0sWp2LnOUrh6kHGwvqmG2cL8F8</string>
	<key>GCM_SENDER_ID</key>
	<string>628658220380</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>de.mahus.MySpotify</string>
	<key>PROJECT_ID</key>
	<string>spotify-c8686</string>
	<key>STORAGE_BUCKET</key>
	<string>spotify-c8686.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:628658220380:ios:2409ce9791505c26702599</string>
	<key>DATABASE_URL</key>
	<string>https://spotify-c8686-default-rtdb.firebaseio.com</string>
</dict>
</plist>